<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>蜀蜀的冒菜店</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="flat-ui/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="flat-ui/dist/css/flat-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="Font-Awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/buttons.css">
  <link rel="stylesheet" href="css/cart.css">

</head>
<body>
  <div class="navbar navbar-default navbar-lg navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-4">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">蜀蜀的冒菜店</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-4">
        <ul class="nav navbar-nav">
          <li><a href="../#items-vegetable">素菜区✪ω✪</a></li>
          <li><a href="../#items-meat">荤菜区◕‿◕</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/cart"><span style="color:#1ABC9C;" class="fa fa-shopping-cart fa-lg"></span><span style="color:#1ABC9C;">&nbsp;&nbsp;&nbsp;购物车&nbsp;</span>
            <span class="navbar-new cartnum-text"></span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="userid-text"></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/profile?#changePassword"><span class="fa fa-asterisk">&nbsp;&nbsp;修改密码</a></li>
              <li><a href="/profile?#deposit"><span class="fa fa-cny">&nbsp;&nbsp;&nbsp;钱包充值</a></li>
              <li><a href="/profile?#orders"><span class="fa fa-check-square-o">&nbsp;&nbsp;我的订单</a></li>
              <li class="divider"></li>
              <li id="logout"><a href="#"><span class="fa fa-circle-o-notch">&nbsp;&nbsp;退出</a></li>
            </ul>
          </li>
        </ul>
        <ul class="user-log nav navbar-nav navbar-right" style="display:none;">
          <li><a href="/user?#login">登录</a></li>
          <li><a href="/user?#logup">注册</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div>

  <div id="sample" style="display:none;">
    <div class="col-md-12 box-item">
      <div class="col-md-1">
        <label class="checkbox">
          <input type="checkbox" data-toggle="checkbox" value="">
        </label>
      </div>
      <div class="col-md-4">
        <div class="col-md-7 item-img">
          <img class="img-items img-rounded" height="70%" width="70%">
        </div>
        <div class="col-md-5 item-name">
          <span class="name-text"></span>
        </div>
      </div>
      <div class="col-md-2">
        <span class="price-text"></span>
      </div>
      <div class="col-md-2">
        <input class="quatity-input" min="1" type="number" value="">
      </div>
      <div class="col-md-2">
        <span class="subtotal-text"></span>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-default btn-xs del-btn"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>


  <div class="container" id="cart-box">
    <div class="row empty-cart" style="display:none;">
    <span class="fa fa-shopping-cart fa-5x"></span>
    <p>购物车还是空的(・(ｪ)・)</p>
    <button class="btn btn-link"><a href="../">>>去看看吃点啥</a></button>
    </div>
    <div class="row box-head">
      <div class="col-md-12">
        <div class="col-md-1">
          <label class="checkbox" for="checkbox-all">
            <input type="checkbox" data-toggle="checkbox" value="" id="checkbox-all" checked><b>全选</b>
          </label>
        </div>
        <div class="col-md-4">信息</div>
        <div class="col-md-2">单价</div>
        <div class="col-md-2">数量</div>
        <div class="col-md-2">小计</div>
        <div class="col-md-1">操作</div>
      </div>
    </div>
    <div class="row box-body">
    </div>
    <!-- <div class="row box-foot">
      <div class="col-md-12">
        <div class="col-md-1">
        </div>
        <div class="col-md-5"><span style="display:none;" class="overflow-hint">您要的数量超出库存，已为您调整为最大库存量(｡・`ω´･)　</span></div>
        <div class="col-md-3">应付总额: <span class="total-text"></span></div>
        <div class="col-md-3"><button tyep="button" class="btn btn-lg btn-primary btn-block">下单</button></div>
      </div>
    </div> -->
  </div>

  <nav class="navbar navbar-default navbar-lg navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="col-md-12">
        <div class="col-md-1">
        </div>
        <div class="col-md-5"><span style="display:none;" class="overflow-hint">您要的数量超出库存，已为您调整为最大库存量(｡・`ω´･)　</span></div>
        <div class="col-md-3">应付总额: <span class="total-text"></span></div>
        <div class="col-md-3"><button id="submit-checkout" type="button" class="btn btn-lg btn-primary btn-block">下单</button></div>
      </div>
    </div>
</nav>


  <script src="/flat-ui/dist/js/vendor/jquery.min.js"></script>
  <script src="/flat-ui/dist/js/flat-ui.min.js"></script>
  <script src="/js-cookie/src/js.cookie.js"></script>
  <script src="/js/cart.js"></script>
</body>
</html>
