body {
 min-height: 2000px;
 padding-top: 70px;
}

#navbar-search {
 margin-left: 20px;
 width: 200px;
}

#cart-box {
  padding-top: 50px;
  font-size: 80%;
  text-align: center;
}

.box-head {
  margin-bottom: 20px;
  padding: 7px 0;
  border: 1px solid #ddd;
  background-color: #ecf0f1;
  vertical-align: middle;
  line-height: 50px;
  font-weight: bold;
}

.box-foot {
  margin-bottom: 20px;
  padding: 14px 0;
  border: 1px solid #ddd;
  background-color: #ecf0f1;
  line-height: 45px;
  font-weight: bold;
}


.box-head .checkbox {
  margin-top: 13px;
  /*margin-bottom: 8px;*/
}

.box-item  {
  margin-bottom: 20px;
  line-height: 100px;
}

.box-item .checkbox {
  margin-top: 40px;
}

.img-items {
  float: right;
  margin-right: 5px;
}

.item-name {
  text-align: left;
}

.total-text {
  color: #e74c3c;
  font-size: 150%;
}

.empty-cart {
    padding: 165px 0 185px;
    border: 1px solid #ddd;
}

.quatity-input {
  box-sizing: border-box;
  width: 72px;
  /*height: 23px;*/
  /*margin: 0;*/
  font-size: 12px;
  text-align: center;
  color: #333;
  line-height: 20px;
}
