body {
 padding-top: 100px;
 padding-bottom: 100px;
 font-size: 14px;
}

.jumbotron {
  background-color: #ECF0F1;
}

.hint {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: small;
  margin-bottom: 15px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  word-wrap: break-word;
  margin-top: 2px;
}

#div-deposit p {
  font-weight: bold;
  color: #e74c3c;
}

.order-total-text {
  font-weight: bold;
  color: #e74c3c;
  font-size: 18px;
}

.order-about span {
  font-weight: bold;
}

.empty-orders {
  text-align: center;
  padding: 165px 0 185px;
  border: 1px solid #ddd;
}

.order-about {
  background-color: #ecf0f1;
  /*text-align: center;*/
  border: 1px solid #ddd;
  vertical-align: middle;
  line-height: 40px;
}

.order {
  margin-bottom: 40px;
}

.order-items-head {
  text-align: center;
  /*margin-bottom: 20px;*/
  border: 1px solid #ddd;
  vertical-align: middle;
  line-height: 50px;
}

.order-items-body {
  text-align: center;
  border: 1px solid #ddd;
  vertical-align: middle;
  /*line-height: 50px;*/
  line-height: 100px;
}

.order-about .order-total-div {
  vertical-align: middle;
  line-height: 80px;
  text-align: right;
  padding-right: 50px;
}

.img-items {
  float: right;
}

.item-name {
  text-align: left;
}

.log-head {
  text-align: center;
  /*margin-bottom: 20px;*/
  border: 1px solid #ddd;
  vertical-align: middle;
  /*line-height: 50px;*/

}

.log-head, .deposit_log {
  text-align: center;
}
